<!DOCTYPE html>
<html>
  <head>
    <title>欢迎</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      // 拦截器
      axios.interceptors.request.use(config => {
        const authorization = localStorage.getItem('authorization')
        console.log(authorization)
        config.headers.authorization = `Bearer ${authorization}`
        return config
      }, error => {
        return Promise.reject(error)
      })
      axios.interceptors.response.use(response => {
        console.log(response)
        return response
      }, error => {
        console.log(error)
        if (error.response.status === 401) {
          localStorage.removeItem('authorization')
          location.href = '/login'
        }
        return Promise.reject(error)
      })
    </script>
  </head>
  <body>
    <h1>mongodb测试</h1>
    <div>
      <div>
        用户名<input type="text" name="username" id="username">
      </div>
      <div>
        密码<input type="password" name="password" id="password">
      </div>
      <div>
        头像<input type="file" name="file" id="file">
      </div>
      <div>
        <input type="button" value="注册" id="register">
      </div>
      <div>
        <input type="button" value="更新" id="update">
      </div>
      <div>
        <input type="button" value="删除" id="delete">
      </div>
      <div>
        <input type="button" value="获取列表" id="getList">
      </div>
      <div>
        <input type="button" value="登出" id="logout">
      </div>
      <script>
        const username = document.querySelector('#username')
        const password = document.querySelector('#password')
        const registerBtn = document.querySelector('#register')
        const updateBtn = document.querySelector('#update')
        const deleteBtn = document.querySelector('#delete')
        const getList = document.querySelector('#getList')
        const logoutBtn = document.querySelector('#logout')
        const file = document.querySelector('#file')

        registerBtn.onclick = () => {
          console.log(username.value, password.value)
          // axios.post('/users/api', {
          //     username: username.value,
          //     password: password.value
          //   }).then(res => {
          //   console.log(res.data)
          //   // if (!res.data.res) {
          //   //   location.href = '/login'
          //   // }
          // })
          const formsData = new FormData()
          formsData.append('username', username.value)
          formsData.append('password', password.value)
          formsData.append('file', file.files[0])
          axios.post('/user/upload', formsData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then(res => {
            console.log(res.data)
            // if (!res.data.res) {
            //   location.href = '/login'
            // }
          })
        }
        updateBtn.onclick = () => {
          console.log(username.value, password.value)
          axios.put('/user', {
              username: username.value,
              password: password.value
            }).then(res => {
            console.log(res.data)
            // if (!res.data.res) {
            //   location.href = '/login'
            // }
          })
        }
        deleteBtn.onclick = () => {
          console.log(username.value, password.value)
          axios.delete('/user', {
              username: username.value,
              password: password.value
            }).then(res => {
            console.log(res.data)
            // if (!res.data.res) {
            //   location.href = '/login'
            // }
          })
        }
        getList.onclick = () => {
          axios.get('/user').then(res => {
            console.log(res.data)
            // if (res.data.res === 0) {
            //   location.href = '/login'
            // }
          })
        }
        logoutBtn.onclick = () => {
          // console.log(username.value, password.value)
          // axios.post('/login/api/logout', {
          //     username: username.value,
          //     password: password.value
          //   }).then(res => {
          //   if (res.data.res) {
          //     console.log(res.data)
          //     location.href = '/login'
          //   }
          // })
          localStorage.removeItem('authorization')
          location.href = '/login'
        }
      </script>
    </div>
  </body>
</html>
