<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      // 拦截器
      axios.interceptors.request.use(config => {
        return config
      }, error => {
        return Promise.reject(error)
      })
      axios.interceptors.response.use(response => {
        console.log(response.headers)
        const { authorization } = response.headers
        authorization && localStorage.setItem('authorization', authorization)
        return response
      }, error => {
        return Promise.reject(error)
      })
    </script>
  </head>
  <body>
    <h1>mongodb测试</h1>
    <div>
      <div>
        用户名<input type="text" name="username" id="username">
      </div>
      <div>
        密码<input type="password" name="password" id="password">
      </div>
      <div>
        <input type="button" value="登录" id="login">
      </div>
      <script>
        const username = document.querySelector('#username')
        const password = document.querySelector('#password')
        const loginBtn = document.querySelector('#login')

        loginBtn.onclick = () => {
          console.log(username.value, password.value)
          // fetch('/login/api', {
          //   method: 'POST',
          //   body: JSON.stringify({
          //     username: username.value,
          //     password: password.value
          //   }),
          //   headers: {
          //     'COntent-Type': 'application/json'
          //   }
          // }).then(res => res.json()).then(res => {
          //   if (res.res) {
          //     location.href = '/'
          //   }
          // })
          axios.post('/login/api', {
            username: username.value,
            password: password.value
          }).then(res => {
            console.log(res)
            if (res.data.res) {
              // location.href = '/chat'
            }
          })
        }
      </script>
    </div>
  </body>
</html>
